@font-face {
  font-family: "Segoe_UI";
  src: url('../assets/SegoeUI.ttf');
}

:root {
  --primary: #0366d6;
  --gray: lightgray;
  --black: #24292e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe_UI";
}
p, a, li {
    font-size: 14px;
}
p,
h2 {
  color: var(--black);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  padding: 12px;
}
.nav span, .nav li {
  color: #fff;
}
.hide, .hide__rightmenu {
  display: none;
}
.userimage {
  /* height:100px; */
  border: none;
  object-fit: cover;
  border-radius: 10vw;
  width: 20vw;
  height: 20vw; 
}
.userinfo {
  padding: 12px;
}
.userinfo__profile {
  display: flex;
}
.username {
  margin: 10px 0 0 20px;
}
.username > h2,
p {
  margin: 0;
}
.about {
  padding: 0 12px;
}
.job {
  padding: 7px 0 0 0;
  margin-bottom: 12px;
}
.status {
  border: 1px solid var(--gray);
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  display: block;
}
.button--edit-profile {
  border: 1px solid var(--gray);
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
}
.contact span {
  color: #6a737d;
  padding: 2px;
}

span a {
  color: var(--black);
}
.tabs {
  display: flex;
  margin-top: 2em;
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
  justify-content: flex-start;
}
.tabs__parent {
  border-bottom: 1px solid var(--gray);
  position: sticky;
  top: 0;
  background: #fff;
}
.tabs li {
  padding: 10px;
  display: flex;
}

.badge {
  border-radius: 40%;
  padding: 1px 6px;
  background-color: #e8eaec;
  margin-left: 8px;
}
.search {
  padding: 7px;
  border: 1px solid var(--gray);
  margin: 15px 12px;
  border-radius: 5px;
}
form > input {
  border: none;
  outline: none;
  width: 100%;
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}
.btn--type {
  margin-right: 5px;
}
.star__btn,
.filter__dropdowns__btn {
  padding: 7px 15px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
.new {
  border-radius: 5px;
  border: 1px solid #e1e4e8;
  padding: 5px 20px;
  background: #2ea44f;
  color: #fff;
}
.repositories {
  padding: 15px 12px;
}
.repository {
  border-top: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.repository h3 {
  /* color: #0366d6; */
  color: var(--primary);
}
.updated {
  font-size: 12px;
}
/* Animation of Shimmer Background */
.shine {
  height: 25px;
  border: none;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px; 
  display: inline-block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  }
  @-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}
/* End of animation */
.left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left > h2,
p,
small {
  margin-bottom: 15px;
}
.prev__next {
  text-align: center;
  border-top: 1px solid var(--gray);
  margin: 0px 12px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.btn__group {
  padding: 5px 12px;
  color: var(--primary);
  font-weight: bold;
  opacity: 0.7;
}
.next {
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--gray);
  border-left: none;
}
.prev {
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--gray);
}
.tabs .tab-item a {
  text-decoration: none;
  color: #363b40;
}
.tab-item:nth-child(2) {
  border-bottom: 2px solid;
  border-color: #f9826c;
  font-weight: 600;
  display: flex;
}
.footer ul {
  list-style-type: none;
  border-top: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 10px;
  margin-top: 70px;
}
.footer ul li {
    padding: 0px 10px;
    display: flex;
    /* color: #0366d6; */
    color: var(--primary);
  /* justify-content: center; */
  }
  .footer p {
    margin-bottom: 0;
  }

/* Media Queries for Responsiveness */
@media screen and (min-width: 768px) {
  .nav {
    padding: 12px 25px;
  }
  .hamburger {
    display: none;
  }
  .navbar__search {
    border: 1px solid grey;
    padding: 3px 6px;
    border-radius: 8px;
    background: transparent;
    color: #fff;
    outline: transparent;
    width: 200px;
  }
  .nav_search {
    background: transparent;
    color: #fff;
  }
  .bigscreen__nav {
    display: flex;
  }
  .rightmenu {
    display: flex;
    align-items: center;
  }
  .rightmenu .hide__rightmenu span {
    padding-left: 13px;
    display: flex;
    align-items: center;
  }

.tabs li {
  margin: 0 15px;
}
  .hide {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .hide__rightmenu {
    display: flex;
    align-items: center;
  }
  .rightmenu__image {
    /* width:25px; */
    height:30px;
    border-radius: 50%; 
    display: inline-block;
  }
  .hide ul {
    display: flex;
    list-style-type: none;
  }
  .hide ul li {
    padding: 0 10px;
    cursor: pointer;
  }
  .userinfo__profile {
    flex-direction: column;
  }
  .username {
    margin-left: 0;
  }
  .userimage {
    border-radius: 50%;
    margin-top: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
 
  .about {
    display: flex;
    flex-direction: column;
  }
  .job {
    order: 0;
  }
  .status {
    order: 1;
  }
  .button--edit-profile {
    order: 2;
    margin-top: 12px;
  }
  .row {
    display: flex;
  }
  .side {
    flex: 25%;
    padding-left: 25px;
    padding-right: 10px;
  }
  .main {
    flex: 75%;
    padding-right: 25px;
    padding-left: 5px;
  }
}
